$primary-color:#000;
$secondary-color: red;
$ternary-color: pink;
$common-color: #fff;
$dark-color: #000;


$primary-font: '';
$secondary-font: '';
$ternary-font: '';
$heading-font: '';


$container: 1600px;
$container-xl: 1200px;
$container-lg: 992px;
$container-md: 780px;
$container-sm: 100%;



$desktop: 1500px;
$desktop-sm: 1199px;
$tablet: 991px;
$phablet: 700px;
$mobile: 450px;
